html, body, .grid, canvas, textarea {
  height: 100%
}

html, body {
  margin: 0;
  overflow: hidden;
  background-color: #282828;
  color: #dbdbb2;
  font-family: sans-serif
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr auto
}

.form {
  display: grid;
  grid-template-columns: auto auto
}

.sform {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

input {
  width: 95%
}

#list,button,canvas,textarea,footer {
  width: 100%
}

.form > label {
  text-align: right
}

textarea {
  resize: none;
}

footer {
  position: fixed;
  bottom: 2px;
  text-align: center;
}

footer, a {
  color: black;
}