html, body, .grid, canvas {
  height: 100%
}

html, body {
  margin: 0;
  overflow: hidden;
  background-color: #282828;
  color: #dbdbb2;
  font-family: sans-serif
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr auto
}

.form {
  display: grid;
  grid-template-columns: auto auto
}

.sform {
  display: grid;
  grid-template-rows: auto 1fr auto
}

input {
  width: 98%
}

#list,button,canvas {
  width: 100%
}

.form > label {
  text-align: right
}

textarea {
  resize: none;
  width: 97%;
  height: calc(100% - 6px)
}

footer {
  position: fixed;
  bottom: 3px;
  left: 43%
}

footer, a {
  color: black
}