html, body {
  height: 95%;
  background-color: #282828;
  color: #dbdbb2;
  font-family: sans-serif
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto
}

.form {
  display: grid;
  grid-template-columns: auto auto
}

input {
  width: 95%
}

#list,button,canvas,textarea,footer {
  width: 100%
}

.form > label {
  text-align: right
}

.grid, canvas {
  height: 100%
}

textarea {
  resize: none;
  height: 92%
}

footer {
  position: fixed;
  bottom: 4px;
  text-align: center
}

a {
  color: #dbdbb2;
}